.reviewItems{
    border:2px solid;
    margin: 6px;
    height: 100px;
    width: 600px;
    margin-left: 20px;
    display: flex;
    align-items: center;

}
.reviewItems img{
    height: 87px;
    width: 100px;
    padding: 6px;
}
.info{
    flex-grow: 1;
}
.info p{
    margin: 2px;
    
}
.btn-dlt{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}
.btn-icn{
    height: 30px;
    width: 30px;
}